<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title|| "website" }}</title>

{% block script %}
<script src="/library/jquery/jquery.min.js"></script>
<script src="/library/bootstrap/js/bootstrap.min.js"></script>
<script src="/library/moment/moment.min.js"></script>
<script src="/library/react/react.js"></script>
<script src="/library/react/JSXTransformer.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/library/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/library/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/style/style.css">
{% endblock %}
</head>

<body>
{% block header %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="header-container container-fluid">
        <div class="collapse navbar-collapse navbar-site-main" id="navbar-target-menu-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="menu-main active">
                    <a href="/">
                        <span style="padding-left:5px;">Home</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<div class="body-container">
{% block content %}{% endblock %}
</div>

{% block footer %}
<div class="footer-container container">
    <div class="row">
        <span class="text-muted col-md-12"></span>
    </div>
</div>
{% endblock %}

</body>
</html>
