{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
{% endblock %}

{% block content %}
<div class="body-container container">
    <div class="row" style="margin-bottom:25px;">
        <div class="col-md-12">
            <h2>Reference</h2>
            <div>
                <ul>
                    <li><a href="https://nodejs.org/">NodeJS</a></li>
                    <li><a href="http://facebook.github.io/react/">ReactJS</a></li>
                    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="https://www.docker.com/">Docker</a></li>
                    <li><a href="http://aws.amazon.com/">Amazon Web Services</a></li>
                </ul>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
